:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --background-portfolio-color: #eeeeee;
  --main-background-black-color: #2f303a;
  --logo-black-color: #000000;
  --team-background-color: #f5f4fa;
  --adress-white-color: rgba(255, 255, 255, 0.6);
  --button-background-color: #188ce8;
}

body {
  background-color: var(--main-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
  outline: 2px solid tomato;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}
/*цвет основного текста #212121/

/*вторичный цвет текста #757575*/

/* акцент #2196F3 */

/* Логотип */
.logo-web {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  text-decoration: none;
  color: var(--logo-black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.main-nav-link {
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
}

.container .main-nav {
  border-bottom: 1px solid #ececec;
}

/* Site-nav */
.site-nav {
  list-style: none;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-inline-start: 0px;
}

.site-nav .site-nav-item {
  margin-right: 50px;
}

.site-nav .site-nav-item:last-child {
  margin-right: 0px;
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current {
  position: relative;
  padding-bottom: 32px;
}

.link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  position: absolute;
  left: 0;
  bottom: -1px;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}

.contacts {
  margin-left: auto;
  list-style: none;
  display: flex;
}

.contacts-item {
  margin-right: 50px;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-icon :hover {
  fill: currentColor;
}

.contacts .contacts-item:last-child {
  margin-right: 0px;
}

.contacts :hover,
.contacts :focus {
  color: var(--accent-color);
}

.mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Эффективные решения для вашего бизнеса */

.solutions {
  background-color: var(--main-background-black-color);
  padding: 200px 0;
  height: 600px;
  max-width: 1600px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Backgroundmain.jpg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.solutions-title {
  color: var(--main-white-color);
  width: 696px;
  margin: 0 auto;

  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  padding: 10px 32px;

  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--button-background-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 1;
  border-radius: 4px;
  top: 0;
  left: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;

  margin-top: 8px;
  margin-right: 8px;
  border: var(--main-white-color);
  background-color: var(--main-white-color);

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  fill: var(--accent-color);
}

/* Оформление модального окна */

.form-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transform: translateY(100%);
}

.form-field:focus-within > .form-icon {
  fill: var(--accent-color);
}

.form-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 10px;
}

.form-input:hover,
.form-input:focus {
  outline-color: var(--accent-color);
}

.box-size {
  height: 120px;
  width: 100%;

  padding: 12px 16px;
}

.checkbox-bottom {
  margin-bottom: 30px;

  display: block;
  align-items: center;
  text-align: center;

  position: relative;
}

.button-submit {
  margin-top: 30px;
  margin-left: 124px;

  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;

  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border: none;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  padding-left: 42px;
  margin: 0;

  padding-top: 11px;
  padding-bottom: 11px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text {
  padding-left: 16px;
}

.form-label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.last {
  margin-bottom: 10px;
}

.checkbox-link {
  color: var(--accent-color);
}

.checkbox {
  appearance: none;
}

.vector {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: -20px;
  margin-left: 34px;

  border-radius: 4px;
  border: 2.5px solid var(--title-text-color);

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-text {
  padding-left: 35px;

  cursor: pointer;
}

.checkbox:checked + .vector {
  fill: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

/* Наши преимущества */

.our-advantages {
  display: flex;

  padding-top: 0px;
}

.our-advantages-item {
  margin-right: 30px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: auto;
  height: 120px;
}

.our-advantages .our-advantages-item:last-child {
  margin-right: 0px;
}

.advantages {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;

  margin-top: 0px;
  margin-bottom: 0px;
}

/* Чем мы занимаемся */
.our-work {
  color: var(--title-text-color);

  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work {
  padding-top: 0px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-works :nth-child(3n) {
  margin-right: 0px;
}

.our-works {
  list-style: none;
  padding-left: 0px;

  display: flex;
}

.our-works-item {
  margin-right: 30px;
  position: relative;
}

.box-content {
  position: absolute;

  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  bottom: 0;
}

.box-name {
  padding-top: 27px;
  padding-bottom: 27px;
}

/* Наша команда */

.team-foto {
  display: flex;
}

.team-foto :nth-child(4n) {
  margin-right: 0px;
}

.our-team {
  background-color: var(--team-background-color);
}

.team {
  color: var(--title-text-color);
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item {
  margin-right: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  margin-bottom: 0px;
}

.team-specialist {
  color: var(--title-text-color);

  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-specialist-position {
  padding: 30px 0px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
  margin-top: 0px;
}

.specialists {
  list-style: none;
}

.social-icon {
  fill: currentColor;
}

.links:hover,
.links:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Постоянные клиенты */
.clients {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-logo {
  fill: currentColor;
}

/* Подвал */

.footer {
  background-color: var(--main-background-black-color);
  padding: 60px 0;
}

/* Нижний логотип */
.bottom-web {
  color: var(--accent-color);
}

.footer-logo :focus {
  color: var(--accent-color);
}

.footer-logo {
  color: var(--main-white-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Адрес */

.footer-link {
  list-style: none;

  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.adress-link {
  margin-bottom: 9px;
}

.adress-link:nth-child(3n) {
  margin-bottom: 0px;
}

.footer-adress {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
}

.footer-adress :hover,
.footer-adress :focus {
  color: var(--accent-color);
}

.footer-map {
  color: var(--main-white-color);
  background-color: var(--main-background-black-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail {
  color: var(--adress-white-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel {
  color: var(--adress-white-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content {
  display: flex;
  align-items: baseline;
}

/* Раздел Присоединяйтесь */

.footer-adress-links {
  margin-left: 70px;
}

.links-name-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-name-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  fill: var(--main-white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-name-item:hover,
.links-name-item:focus {
  background-color: var(--accent-color);
}

.links-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

/* Підпишіться на розсилку */

.mailing-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: #ffffff;
}

.mail-line {
  width: 358px;
  height: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: #2f303a;

  padding-left: 16px;
}

.box-mail-button {
  display: flex;
}

.mailing-button {
  margin-left: 12px;
  min-width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: #ffffff;
}

.mailing-box {
  margin-left: auto;
}

/* ПОРТФОЛИО */

/* Шапка */
.portfolio-header {
  background-color: var(--main-white-color);
}

/* Кнопки */

.filter {
  text-align: center;
}

.filter-name {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--team-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list {
  list-style: none;

  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.filter-item {
  margin-right: 8px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Примеры работ */

/* Синий overlay */
.overlay-box {
  position: relative;
  overflow: hidden;
}
.projects-link:hover .overlay,
.projects-link:focus .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(294px);

  width: 370px;
  height: 294px;

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  display: flex;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-white-color);

  width: 322px;
  height: 168px;
}

/* Портфолио */

.portfolio {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.projects-item {
  width: 370px;
}

.projects-link {
  display: block;
  text-align: initial;
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.projects {
  list-style: none;
  gap: 30px;

  display: flex;
  flex-wrap: wrap;
}

.project-text {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project-background {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
}

.project-name {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-filter {
  color: var(--primary-text-color);

  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
}
